body {
    color: #ACACAC!important;
    background: #1D1F21!important;
}
/*links*/
a {
    color: #81A2BE!important;
}
/*main chat bg*/
.content-background-color {
    background-color: #1D1F21;
    color: #ACACAC!important;
}
/*left sidebar*/
.sidebar {
    background-color: #151515;
    color: #ACACAC!important
}
/*strong text*/
strong {
    color: #b388ff;
    font-size: 1.5em;
}
/*Join button*/
.actionLinks li .action-link {
    color: #ACACAC;
    background-color: #282a2e;
    border-left: none;
}
.actionLinks li .action-link:hover {
    color: #fff;
    background-color: #464646;
}
/*Time, info messages, other shit*/
.color-info-font-color {
    color: #ACACAC;
}
/*NO LIGHT THEME*/
.sidebar-light {
    position: absolute;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: #151515;
    color: #ACACAC!important;
}
/*Border colors for shit in the settings*/
.rc-old .page-settings, .rc-old .page-settings * {
    border-color: #53575f;
}
.sidebar-item:hover {
    background-color: #46464659!important;
}
.rc-button {
    border-color: #53575f!important;

}
.rc-input__element {
    border-color: #53575f!important;
    color: #ACACAC!important;
}
/*role tag*/
.role-tag {
    border-color: green;
    background-color: black!important;
    font-weight: 1000;
    border-radius: 0px;

}
/*shit at the top of the chat*/
.rc-header__wrap {
    background-color: transparent!important;
}
/*message box*/
.rc-message-box__container {
    border-color: #53575f!important;
    color: #ACACAC!important;
}
/*hovered messages no longer highlighted*/
.message.active, .message:hover {
    background-color: transparent!important;
}
/*hide/show attachment*/
.attachment .attachment-title {
    color: #81A2BE!important;
}
/*security page*/
.rc-old .page-settings, .rc-old .page-settings * {
    text-align: center;
}
.rc-button--primary {
    margin: 0 auto;
}
/*2fa settings page blurry :^)*/
#security {
    filter: blur(0.5px);
}
/*popup*/
.contextual-bar {
    background-color: #151515;
    color: #ACACAC!important;
}
/*rc button*/
.rc-button {
    border-color: #53575f!important;
    color: #ACACAC!important;
}
/*user popout header*/
.contextual-bar__header {
    background-color: #151515;
    color: #ACACAC!important;
    border-bottom: solid 1px #272727;
}
/*context menu*/
.rc-popover__content {
    background-color: #151515!important;
    color: #ACACAC!important;
}
/*context menu item*/
.rc-popover__item {
    color: #ACACAC!important;
}
.rc-popover__item:hover {
    color: #ACACAC!important;
    background-color: #464646!important;
}
/*box shadow on popouts*/
.rc-popover__content {
    box-shadow: 10px 10px #101010eb!important;
}
/*title color*/
.rc-table-title {
    color: rgb(223, 223, 223)!important;
}
/*Selected tab color*/
.tab.active {
    color: #b388ff!important;
    color: #b388ff!important;
    border-bottom-color: #b388ff!important;
    border-bottom-color: #b388ff!important;
}
/*root color shieeet*/
:root {
    --color-dark: #151515;
}
/*channel titles(ex: #general)*/
.rc-header__data {
    color: #ACACAC!important;
}
/*mention thing*/
.mention-link, .message .mention-link {
    border-radius: 0px!important;
    padding: 0 6px 2px;
    transition: opacity .3s,background-color .3s,color .3s;
    color: rgb(55, 109, 170)!important;
    border-width: 1px;
    border-color: rgb(55, 109, 170)!important;
    background-color: #151515!important;
    font-weight: 700;
}
/*user info container*/
.rc-user-info-container {
    background-color: #151515!important;
    color: #ACACAC!important;
}
.rc-user-info-details {
    background-color: #151515!important;
    color: #ACACAC!important;
}
.rc-user-info-details__info {
    color: #ACACAC!important;
}
/*showing x online x total*/
.rc-member-list__counter {
    color: #ACACAC!important;
}
/*no gay ass created by message*/
.emoji-footer {
    display: none!important;
} 
/*reactions*/
.message .reactions>li.selected {
    border-radius: 0px!important;
    color: #b388ff!important;
    border-color: #b388ff!important;
    background-color: #000000!important;
}
/*reaction add*/
.message .reactions>li {
    color: #81A2BE!important;
    border: 1px solid #81A2BE!important;
    border-radius: 0px!important;
    background-color: #000000!important;
}
/*Icons*/
.rc-icon {
    color: #ACACAC!important;
}